.page {
    display: flex;
}

.img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 50%;
    min-height: calc(100vh - 202px);
    object-fit: cover;
    z-index: -1;
}

.loginpane {
    width: 50%;
}

.loginBtn {
    width: calc(100% - 40px);
    margin: 0px 20px;
    font-weight: 700;
}

.pinkyText {
    color: var(--pink3)
}

.pinkyTextHover:hover {
    color: var(--pink2)
}

.txtbox {
    padding: 7px 10px;
}


@media (max-width: 600px) {
    .img {
        display: none;
    }
    .loginpane {
        margin-top: 50px;
        width: 100%;
    }
}