.forumsDiv {
  width: 300px;
  height: 250px;
  border: 1px solid var(--pink1);
  border-radius: 15px;
  background-color: rgb(255, 247, 251);
  padding: 10px 20px;
}

.forumEntry {
  background-color: #ececec;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}