.box {
  width: 350px;
  height: 210px;
}

.forumEntry {
  background-color: #ececec;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.forumEntry > h1 {
  text-decoration: underline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;     
}


@media (max-width: 800px) {
  .topContainer {
    display: block;
  }
  .topContainer > div {
    margin-left: auto;
    margin-right: auto;
  }
}