.welcomeDiv {
  display: flex;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.nameContainer {
  padding: 0px 10px;
  flex-grow: 1;
}
.nameContainer > h1 {
  font-size: 30px;
  font-weight: 600;
}

.phoneContainer {
  border: 2px solid var(--pink1);
  border-radius: 999px;
  width: 230px;
  display: flex;
  user-select: none;
  cursor: pointer;
  flex-shrink: 0;
  height: 68px;
}
.phoneCircle {
  background-color: var(--pink1);
  border-radius: 999px;
  width: 64px;
  height: 100%;
  flex-shrink: 0;
}
.phoneCircle > img {
  width: 40px;
  height: 40px;
  margin: 12px 10px;
}
.phoneContainer > h2 {
  margin-left: 10px;
  margin-top: 3px;
  font-size: 20px;
}
.phoneContainer > h2 > span {
  font-weight: 600;
}


@media (max-width: 540px) {
  .welcomeDiv {
    display: block;
  }
  .phoneContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}