.stylisedBtn {
    background: linear-gradient(90deg, #fca6d4 30%, #ffdbf7 90%);
    padding: 10px;
    border-radius: 10px;
    transition: background-position 0.25s;
    background-size: 200% 200%;
    background-position: right;
}
.stylisedBtn:hover {
    background-position: left;
}

.stylisedTitle {
    background: linear-gradient(90deg, #F6A2B8 0%, #FBDEF4 100%);
    border-radius: 10px;
	padding-left: 10px;
}
