.outerdiv {
  margin: 20px 10px;
}

.resourcesDiv {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  margin-left: 20px;
  padding-top: 10px;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 10px 0px;
}

.resourceLink {
  flex-shrink: 0;
  width: 350px; 
  height: 150px;
  padding: 15px;
  display: flex;
  align-items: center;
  border: 1px solid rgb(243, 186, 238);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  transition: 0.3s ease;
  color: #ffffff;
}

.resourceLink:hover {
  background-color: #f48fb1;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.imageContainer {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentContainer {
  flex: 1;
  margin-left: 20px;
}

.contentContainer h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.contentContainer p {
  margin: 5px 0 0;
  font-size: 14px;
}



@media (max-width: 570px) {
  .outerdiv {
    margin: 4px 4px;
  }
  .innerdiv {
      padding: 5px 0px;
  }
  .resourcesDiv {
      gap: 10px;
  }
}

@media (max-width: 450px) {
  .outerdiv {
    margin: 4px 2px;
  }
  .resourcesDiv {
      gap: 4px;
  }
  .readButton {
    display: none;
  }
}

@media (max-width: 430px) {
  .outerdiv {
    margin: 4px 8px;
  }
  .resourcesDiv {
      gap: 10px;
  }
}
