.outerdiv {
  padding: 10px;
}

.innerdiv {
  padding: 10px;
}
.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.date {
  margin-left: 20px;
  font-size: 20px;
}

.backBtn {
  width: 220px;
  padding: 5px;
}

.backBtnNotFound {
  text-align: center;
  margin: 10px;
}
.backBtnNotFound > h2 {
  padding: 10px;
  text-decoration: underline;
  color: var(--pink3);
}

.col {
  height: 500px;
  margin-bottom: 20px;
}
.section {
  border: 1px solid var(--pink1);
  width: 400px;
  height: 100%;
  margin: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sectionTitle {
  width: 100%;
  padding-bottom: 8px;
}

.sectionTitle > h3 {
  font-size: 16px;
  padding-left: 10px;
}

.feelingDiv {
  width: 200px;
}
.feelingEmojiDiv {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.feelingEmojiDiv > span {
  cursor: pointer;
  user-select: none;
  padding: 0px 1px;
  transition: 0.3s;
}
.selectedEmoji {
  font-size: 18px;
  border: 2px solid white;
  border-radius: 999px;
}


.moodItem {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
  margin-left: 10px;
}
.moodItem:nth-child(1) {
  margin-top: 10px;
}
.checkbox {
  margin-right: 0.5rem;
}
.customMood {
  margin-left: 10px;
  display: flex;
  align-items: center;
  width: 180px;
}
.customMood input[type="text"] {
  margin-left: 0.5rem;
  padding: 0.25rem;
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}
  

.gratitudesDiv {
  height: calc(50% - 5px);
}
.gratitudesDiv > textarea {
  width: 100%;
  height: 149px;
  padding: 10px;
  resize: none;
}

.onMyMindDiv {
  height: calc(50% - 5px);
}
.onMyMindDiv > textarea {
  width: 100%;
  height: 172px;
  padding: 10px;
  resize: none;
}


.selfCareGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}
.selfCareItem {
  display: flex;
  align-items: center;
}
.customSelfCare {
  display: flex;
  align-items: center;
}
.customSelfCare input[type="text"] {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.ratingContainer {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  padding: 5px 20px;
}

.ratingItem {
  cursor: pointer;
  padding: 4px;
}

.ratingItem.selected svg {
  fill: #1E90FF;
}
.ratingItem.hovered svg {
  fill: #95d8ee;
}

.dayRatingDiv .ratingItem.selected svg {
  fill: #FFD700;
}
.dayRatingDiv .ratingItem.hovered svg {
  fill: #fff5b9;
}
.waterIntakeDiv, .dayRatingDiv {
  margin-top: 10px;
  padding: 10px;
  border-top: 3px solid var(--pink1);
}
.waterIntakeDiv, .dayRatingDiv > h2 {
  font-weight: 500;
  font-size: 20px;
}

.saveBtn {
  display: flex;
  justify-content: center;
}
.saveBtn > button {
  margin-top: 10px;
  width: 100px;
}


@media (max-width: 430px) {
  .section {
    width: 90vw;
  }
  .feelingDiv {
    width: 200px;
  }
  .customSelfCare input[type="text"] {
    width: 100px;
  }
}


@media (max-width: 400px) {
  .waterIntakeDiv > h2 {
    font-size: 16px;
  }
  .dayRatingDiv > h2 {
    font-size: 16px;
  }
  .ratingItem {
    padding: 2px;
  }
  .date {
    margin-left: 10px;
    font-size: 18px;
  }
}
