.recommendedDiv {
  margin-top: 20px;
  margin-bottom: 20px;
}


.videosHeader {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.videosHeader > h1{
  font-size: 24px;
}

.videosDiv {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-left: 20px;
}